#intro {
    width: 100%;       
}

.introduction {
    margin-top: 30vh;
    margin-bottom: 20px;
    font-family: 'Salma-Pro', sans-serif;
    letter-spacing: 0.1em;
}

.introduction-content {
    text-align: center;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}