@font-face {
  font-family: 'Mosk Extra-Bold 800';
  src: url('./fonts/Mosk Extra-Bold 800.ttf') format('truetype');  
}

@font-face {
  font-family: 'Salma-Pro';
  src: url('./fonts/Salma-Pro.otf') format('opentype');  
}

@font-face {
  font-family: 'RobotoSlab-ExtraLight';
  src: url('./fonts/RobotoSlab-ExtraLight.ttf') format('truetype');  
}

.app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#light {
  color-scheme: light;
  color: rgb(6, 25, 85);
  background-color: rgb(245, 243, 185);
}

#dark {
  color-scheme: dark;
  color: rgb(245, 243, 185);
  background-color: rgb(34, 41, 57);
}

#light .about-me {
  color-scheme: light;
  color: rgb(69, 105, 58);
  background-color: rgb(197, 224, 171)
}

#dark .about-me {
  color-scheme: dark;
  color: rgb(197, 224, 171);
  background-color: rgb(73, 39, 39);
}

#light .skills {
  color-scheme: light;
  color: rgb(66, 7, 100);
  background-color: rgb(225, 233, 231);
}

#dark .skills {
  color-scheme: dark;
  color:  rgb(225, 233, 231);
  background-color: rgb(3, 63, 82);
}

#light .portfolio {
  color-scheme: light;
  color: rgb(69, 105, 58);
  background-color: rgb(197, 224, 171)
}

#dark .portfolio {
  color-scheme: dark;
  color: rgb(197, 224, 171);
  background-color: rgb(73, 39, 39);
}

a:link {
  color: rgb(156, 175, 163);
  text-decoration: none;
}

a:visited {
  color: rgb(156, 175, 163);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

a:active {
  color: rgb(153, 153, 153);
  text-decoration: underline;
}

h1 {
  font-size: 3.2em;
  font-family: 'Mosk Extra-Bold 800', sans-serif;
  margin: 0 0 20px 0;
}

h3 {
  font-family: 'Salma-Pro', sans-serif;
  text-align: center;
  margin: 40px 0 30px 0;
}

h4 {
  font-family: 'Salma-Pro', sans-serif;
  margin: 30px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width < 600px) {

  .app {
    width: 100%;
  }

  .about-me-content {
    width: 0%;
  }

  .skills-content {
    width: 0%;
  }

  .skills .icons {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .about-me-content h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .portfolio-content h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } 

  .portfolio-work {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }

  .modal-project-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }

  .modal-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }

  .modal-icons{
    margin: 0px 7px;
  }

  .modal-icons img{
    padding: 2px 4px;
    width: 30px;
    height: 30px;
  }

  .modal-project-img {
  width: 100px;
  height: 100px;
  }

  .modal-project-text {
    font-size: 0.6rem;
  }

  .modal-project-links {
    font-size: 0.6rem;
  }

  .modal-project-links p{
    font-size: 0.6rem;
  }

  .label {
    font-size: 0.6rem;
  }

  .about-me {
    width: 100%;
  }

  .image img {
    width: 250px;
  }

  .content h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }  

  h1 {
    font-size: 2.8rem;
    width: 350px;
  }
    
  h3 {
    font-size: 0.9rem;
    width: 350px;
  }
}