@font-face {
  font-family: 'Mosk Bold 700';
  src: url('./fonts/Mosk Bold 700.ttf') format('truetype');  
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Mosk Bold 700', sans-serif;
  line-height: 1.0;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#light {
  color-scheme: light;
  color: rgb(6, 25, 85);
  background-color: rgb(245, 243, 185);
}

#dark {
  color-scheme: dark;
  color: rgb(177, 178, 182);
  background-color: rgb(34, 41, 57);
}

h1 {
  font-size: 3.2em;
  line-height: 0.9;
}

@media (max-width: 500px) {
  h1 {
    font-size: 9vw;
  }
  h3 {
    font-size: 3vw;
  }
}