@font-face {
  font-family: 'Mosk Bold 700';
  src: url('./fonts/Mosk Bold 700.ttf') format('truetype');  
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mosk Bold 700', sans-serif;
  line-height: 1.0;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(6, 25, 85);
  background-color: rgb(227, 228, 167);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 0.9;
}

@media (max-width: 500px) {
  h1 {
    font-size: 9vw;
  }
  h3 {
    font-size: 3vw;
  }
}