#about {
    width: 100%;       
}

.about-me {
    line-height: 1.9;
    letter-spacing: 0.1em;
    display: flex;
}

.about-me-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
    margin-bottom: 40vh;
}

.image {
    margin-top: 30px;
}

.image img {
    width: 400px;
}

